[Unit]
Description=Hello world
After=multi user.target

[Service]
Type=simple
ExecStart =/usr/bin/python /home/admin/Desktop/S.E/p.py
Restart-on-abort

[Install]
WantedBy=multi-user.target
